site_name: bipartite
site_description: A tool to give agents your knowledge graph
site_url: https://matsen.github.io/bipartite
repo_url: https://github.com/matsen/bipartite
repo_name: matsen/bipartite

theme:
  name: material
  palette:
    - scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - search.share
    - toc.integrate

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true
  - attr_list
  - md_in_html
  - toc:
      permalink: true

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

docs_dir: docs
site_dir: site

nav:
  - Home: index.md
  - Guides:
    - Getting Started: guides/getting-started.md
    - Reference Management: guides/reference-management.md
    - Knowledge Graph: guides/knowledge-graph.md
    - Workflow Coordination: guides/workflow-coordination.md
    - Server Scout: guides/server-scout.md
